<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Update</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
	integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
	crossorigin="anonymous">
<link rel="stylesheet" href="../css/shards.min.css">
</head>
<body>

<div class="container my-5">
		<h2 class="mb-5">Modificar encuestas de nexos</h2>
		<div class="row">
			<div class="col-md-5">
				<form action="#" th:object="${nexus}"
					th:action="@{/nexuspolls/edit/{id}(id = ${nexus.nexpollId})}" method="post">
					<div class="row">
						<div class="form-row">
						
						<div>
                        <input th:field="*{nexpollId}" type="hidden" id="id" placeholder="Id">
						</div>
						
						
						<div class="form-group col-md-6">
							<label for="nexpollName" class="col-form-label">Nombre de la encuesta de nexo</label> <input
								type="text" th:field="*{nexpollName}" class="form-control" id="nexpollName"
								placeholder="Nombre"> <span
								th:if="${#fields.hasErrors('nexpollName')}" th:errors="*{nexpollName}"
								class="text-danger"></span>
						</div>
						
						<<div class="form-group col-md-6">
							<label for="nexpollStartdate" class="col-form-label">Fecha de entrada</label> 
							<input type="date" th:field="*{nexpollStartdate}" class="form-control" id="nexpollStartdate" pattern="yyyy-MM-dd" placeholder='yyyy-MM-dd'>
							<span th:if="${#fields.hasErrors('nexpollStartdate')}" th:errors="*{nexpollStartdate}" class="text-danger"> </span>
					    </div>
						 				
						
						<div class="form-group col-md-6">
							<label for="nexpollEnddate" class="col-form-label">Fecha de salida</label> 
							<input type="date" th:field="*{nexpollEnddate}" class="form-control" id="nexpollEnddate" placeholder='yyyy-MM-dd'>
							<span th:if="${#fields.hasErrors('nexpollEnddate')}" th:errors="*{nexpollEnddate}" class="text-danger"> </span>
					    </div>
						
						<div class="form-group col-md-6">
							<label for="instInstId" class="col-form-label">Id de la institucion</label> <input
								type="text" th:field="*{instInstId}" class="form-control" id="instInstId"
								placeholder="Id"> <span
								th:if="${#fields.hasErrors('instInstId')}" th:errors="*{instInstId}"
								class="text-danger"></span>
						</div>

							
						
					</div>
					
					<div class="row">
						<div class="col-md-4 mt-3">
							<input type="submit" name="action" class="btn btn-primary"
								value="Update Visit">
						</div>
						<div class="col-md-3 mt-3">
							<input type="reset" class="btn btn-secondary" value="Clear">
						</div>
						<div class="col-md-3 mt-3">
							<input type="submit" name="action" class="btn btn-secondary"
								value="Cancel">
						</div>
						<div class="col-md-3 mt-3">
						<p>
							<a href="/nexuspolls"><i class="fas fa-undo-alt"></i> Go back</a>
						</p>
					</div>	
					
				</form>
			</div>
		</div>
	</div>



</body>
</html>